<label>Username:</label><br>
<%= f.text_field :username %><br>

<label>Email:</label><br>
<%= f.text_field :email %><br>

<label>Password:</label><br>
<%= f.password_field :password %><br>

<%= submit_tag "Submit User Info" %>